# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
staticfiles/

# Virtual environment folders
venv/
env/
.venv/

# Distribution / packaging directories
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Python coverage reports
*.coverage
*.coverage.*
nosetests.xml
coverage.xml
*.hypothesis/

# Environment variables (if using dotenv)
.env
# SQLite database file
*.db
*.sqlite3
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
